language: php

php:
  - 5.5
  - 5.6
  - 7.0

before_script:
  - cd ../
  - composer create-project --keep-vcs unionofrad/framework framework 1.1.*@dev
  - cd framework
  - mv ../li3_fixtures app/libraries/
  - sed -i -e 's/?>/Libraries::add("li3_fixtures"); ?>/g' app/config/bootstrap/libraries.php

script: libraries/lithium/console/li3 test libraries/li3_fixtures/tests

notifications:
  email: false
